<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin home</title>
</head>
<body>
    <h1>admin home</h1>
    <a href="/logout">logout</a><br>
    <a href="/home/viewEmployee">view employee</a><br>
    <a href="/employee/AddEmployee">Add Employee employee</a><br>
    <br><br><br>
    <h3>id: <%= user.id%></h3>
    <h3>employee_name: <%= user.employee_name%></h3>
    <h3>username: <%= user.username%></h3>
    <h3>contact_no: <%= user.contact_no%></h3>
    <h3>type: <%= user.type%></h3>
    <h3>password: <%= user.password%></h3>

</body>
</html>
